/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.bgPoker{
	background-image: url('../images/01.jpg');
}

.bgPoker-bleu{
  background-image: url('../images/02.jpg');
}

.bgPoker-violet{
  background-image: url('../images/03.jpg');
}

.bgPoker-rouge{
  background-image: url('../images/04.jpg');
}

.bgPoker-orange{
  background-image: url('../images/05.jpg');
}



.listPoker{
  font-weight: bold;
  color:#FFFFFF;
  text-align: right;
  background-color: #C0C0C0!important;
}
.listPoker a{
  background-color: #2F97FF!important;
}

.pokerInput{
	  background-color: #EBEBEB!important;
}

.pokerInputDisabled{
    color: #B0B0B0!important;
}