/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.bgPoker{
	background-image: url('../images/01.jpg');
}

.bgPoker-bleu{
  background-image: url('../images/02.jpg');
}

.bgPoker-violet{
  background-image: url('../images/03.jpg');
}

.bgPoker-rouge{
  background-image: url('../images/04.jpg');
}

.bgPoker-orange{
  background-image: url('../images/05.jpg');
}



.listPoker{
  font-weight: bold;
  color:#FFFFFF;
  text-align: right;
  background-color: #C0C0C0!important;
}
.listPoker a{
  background-color: #2F97FF!important;
}

.pokerInput{
	  background-color: #EBEBEB!important;
}

.pokerInputDisabled{
    color: #B0B0B0!important;
}


.theCircles {
  margin:0 auto;
  padding:0;
}
.minutesDiv {
  position:relative;
  float:left;
  display:block;
  padding:0;
  margin:0;
}
.canvasMinutes {
  margin:0;
  padding:0;
}
.minutesDiv .innerText {
  padding:0;
  margin:0;
  position:relative;
}
.minutesDiv .innerNumber {
  display:none;
  line-height:inherit;
  position:absolute;
  padding:0;
  margin:0;
}

.secondsDiv {
  position:relative;
  float:left;
  display:block;
  padding:0;
  margin:0;
}
.canvasSeconds {
  margin:0;
  padding:0;
}
.secondsDiv .innerText {
  padding:0;
  margin:0;
  position:relative;
}
.secondsDiv .innerNumber {
  display:none;
  line-height:inherit;
  position:absolute;
  padding:0;
  margin:0;
}
