<ion-view title="A propos de myPokerLeague">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bgPoker-bleu">
    <div class="list card" style="text-align:center">

        <h3>Merci d'avoir choisi myPokerLeague ! </h3>
            <div id="logo">
              <img src="images/icon-128-xxhdpi.png">
            </div>
            <p>
              Nous travaillons dur pour vous faire cette application
            </p>
            <p>
              et pourtant il en reste encore... :)
            </p>
</div>
<br/>
  </ion-content>
</ion-view>
