<ion-view title="Calendrier Saison {{activeSeason}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bgPoker">
    <ion-list >
      <ion-item ng-repeat="calendar in calendars" href="#/app/calendars/{{calendar.id}}">
        {{calendar.title}}
      </ion-item>
    </ion-list>
    <ion-item class="listPoker" href="#/app/newcalendar">
       <i class="icon ion-android-add"></i> Ajouter une date
    </ion-item>
  </ion-content>
</ion-view>
