<ion-view title=" <i class='icon ion-calendar'></i> {{activeLeague}} S{{activeSeason}}">

  <ion-content class="has-header bgPoker">
    <ion-list >
      <ion-item ng-repeat="(key,event) in events" href="#/app/events/{{activeLeague}}/{{activeSeason}}/{{key}}" class="item item-icon-right">
        <strong style="background-color:#C0C0C0;padding:10px;margin-right:10px;">{{key}}</strong>  {{event.date}} 
        <span class="item-note" style="float:right;margin-right:40px;">{{event.name}}</span>
        <span class="badge badge-calm"  style="margin-right:20px;">0</span>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <ion-item class="listPoker" href="#/app/eventNew">
       <i class="icon ion-android-add"></i> Ajouter une date
    </ion-item>
  </ion-content>
</ion-view>
