<ion-view title="<i class='icon ion-calendar'></i> {{activeLeague}} S{{activeSeason}}E{{activeEvent}}">
  <ion-content class="has-header bgPoker">


          <div class="list card" style="display: block;width:100%;margin:0">
          <h2 style="display: block;text-align:center;width:100%">Round <strong>2</strong></h2>
 <div class="theCircles group" style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                    <div class="minutesDiv" style="border-width: 0px 1px; border-right-style: solid; border-right-color: rgb(51, 51, 51); border-left-style: solid; border-left-color: rgb(149, 149, 149); width: 50%; height: 144px; background: url(http://www.lambertgroupproductions.com/canyon/countdown_pro/circular_countdown_images/transparentBG_60.png);">
                        <canvas class="canvasMinutes" width="50%" height="80"></canvas>
                        <div class="innerNumber" style="color: red; font-size: 60px; line-height: 60px; display: block;  top: 15px;text-align:right;width:100%;padding-right:15px">{{smallBlind}}</div>
                        <div class="innerText" style="top: 0px; color: orange; font-size: 24px; line-height: 24px; margin-top: 0px; padding-top: 20px; padding-bottom: 20px; background: url(images/transparentBG_40.png);text-align:left;padding-left:15px;">{{nextSmallBlind}}</div>
                    </div>
                    <div class="secondsDiv" style="border-width: 0px 0px 0px 1px; border-left-style: solid; border-left-color: rgb(149, 149, 149); width: 50%; height: 144px; background: url(http://www.lambertgroupproductions.com/canyon/countdown_pro/circular_countdown_images/transparentBG_60.png);">  
                        <canvas class="canvasSeconds" width="50%" height="80"></canvas>
                        <div class="innerNumber" style="color: red; font-size: 60px; line-height: 60px; display: block;  top: 15px;text-align:left;width:100%;padding-left:15px">{{bigBlind}}</div>
                        <div class="innerText" style="top: 0px; color:orange; font-size: 24px; line-height: 24px; margin-top: 0px; padding-top: 20px; padding-bottom: 20px; background: url(images/transparentBG_40.png);text-align:right;padding-right:15px;">{{nextBigBlind}}</div>
                    </div>
                </div>
                <span style="display: block;text-align:center;width:100%">Prochaine pause dans 17 min</span>
          </div>


          <div>
            <timer countdown="initialCountdown" max-time-unit="'minute'" interval="1000">
            <div class="theCircles group" style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                    <div class="minutesDiv" style="border-width: 0px 1px; border-right-style: solid; border-right-color: rgb(51, 51, 51); border-left-style: solid; border-left-color: rgb(149, 149, 149); width: 50%; height: 144px; background: url(http://www.lambertgroupproductions.com/canyon/countdown_pro/circular_countdown_images/transparentBG_60.png);">
                        <canvas class="canvasMinutes" width="50%" height="80"></canvas>
                        <div class="innerNumber" style="color: rgb(255, 255, 255); font-size: 60px; line-height: 60px; display: block; top: 15px;text-align:center;width:100%;">{{mminutes}}</div>
                        <div class="innerText" style="top: 0px; color: rgb(255, 255, 255); font-size: 24px; line-height: 24px; margin-top: 0px; padding-top: 20px; padding-bottom: 20px; background: url(images/transparentBG_40.png);text-align:center;">Minute{{minutesS}}</div>
                    </div>
                    <div class="secondsDiv" style="border-width: 0px 0px 0px 1px; border-left-style: solid; border-left-color: rgb(149, 149, 149); width: 50%; height: 144px; background: url(http://www.lambertgroupproductions.com/canyon/countdown_pro/circular_countdown_images/transparentBG_60.png);">  
                        <canvas class="canvasSeconds" width="50%" height="80"></canvas>
                        <div class="innerNumber" style="color: rgb(255, 255, 255); font-size: 60px; line-height: 60px; display: block;top: 15px;text-align:center;width:100%;">{{sseconds}}</div>
                        <div class="innerText" style="top: 0px; color: rgb(255, 255, 255); font-size: 24px; line-height: 24px; margin-top: 0px; padding-top: 20px; padding-bottom: 20px; background: url(images/transparentBG_40.png);text-align:center;">Second{{secondsS}}</div>
                    </div>
                </div>
              </timer>
</div>
<div class="clearfix"></div>
<div class="list card">
          <ion-list >
            <ion-item class="item item-icon-left item-icon-right" href="#/app/working">
            <i class="icon ion-ios7-barcode"></i>
               <i class="icon ion-chevron-right"></i> Tables
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/app/working">
            <i class="icon ion-ios7-football"></i>
               <i class="icon ion-chevron-right"></i> Jetons
            </ion-item>            
            <ion-item class="item item-icon-left item-icon-right" href="#/app/working">
            <i class="icon ion-podium"></i>
               <i class="icon ion-chevron-right"></i> Classement
            </ion-item>
            <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
               <i class="icon ion-chatbubbles"></i>
                      <span class="badge badge-balanced"  style="margin-right:20px;">0</span> 
                      Commentaires
               <i class="icon ion-chevron-right"></i> 
            </ion-item>
            <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
                       <span class="badge badge-balanced"  style="margin-right:20px;">0</span>
               <i class="icon ion-images"></i> Photos
               <i class="icon ion-chevron-right"></i> 
            </ion-item>
          </ion-list >
        </div>
  </ion-content>
  <div class="bar bar-footer"> 
    <button class="button button-positive" go-click="/app/eventLive/{{activeLeague}}/{{activeSeason}}/{{activeEvent}}"><i class="icon ion-play"></i> Commencer le tournoi</button>
    <div class="title"></div>
    <button class="button pull-right" go-click="/app/eventEdit/{{activeLeague}}/{{activeSeason}}/{{activeEvent}}"><i class="icon ion-ios7-people"></i> Modifier</button>
  </div>
</ion-view>
