<ion-view title="<i class='icon ion-calendar'></i> {{activeLeague}} S{{activeSeason}}E{{activeEvent}}">
  <ion-content class="has-header bgPoker">
    <div class="list card">

  <div class="item item-avatar">
    <img src="images/ionic.png">
    <h1> Tournoi : <strong>{{activeEvent}}</strong></h1>
    <p>Ligue : <strong>{{activeLeague}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;Saison : <strong>{{activeSeason}}</strong></p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
  <div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
  </div>
    <ion-list >
    <ion-item >
       Date : {{event.date}}  {{event.time}}
    </ion-item>
    <ion-item class="item item-icon-left item-icon-right" href="#/app/eventNew">
    <i class="icon ion-person-stalker"></i>
       <span class="badge badge-calm"  style="margin-right:20px;">0</span>
       <i class="icon ion-chevron-right"></i> Liste des joueurs
    </ion-item>
    <ion-item class="item item-icon-left  item-icon-right" href="#/app/eventNew">
       <i class="icon ion-location"></i> Lieu du tournoi
        <span class="item-note" >{{event.location}}</span>
       <i class="icon ion-chevron-right"></i> 
    </ion-item>
    </ion-list >


</div>
    <div class="list card">

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

    <ion-list >
    <ion-item >
       Vainqueur : {{event.winner}}
    </ion-item>
    <ion-item class="item item-icon-left item-icon-right" href="#/app/eventNew">
    <i class="icon ion-podium"></i>
       <span class="badge badge-balanced"  style="margin-right:20px;">0</span>
       <i class="icon ion-chevron-right"></i> Classement
    </ion-item>
    <ion-item class="item item-icon-left  item-icon-right" href="#/app/eventNew">
       <i class="icon ion-chatbubbles"></i>
              <span class="badge badge-balanced"  style="margin-right:20px;">0</span> Commentaires
       <i class="icon ion-chevron-right"></i> 
    </ion-item>
        <ion-item class="item item-icon-left  item-icon-right" href="#/app/eventNew">
               <span class="badge badge-balanced"  style="margin-right:20px;">0</span>
       <i class="icon ion-images"></i> Photos
       <i class="icon ion-chevron-right"></i> 
    </ion-item>
    </ion-list >


</div>
<br/>
  </ion-content>
</ion-view>
