<ion-view title="<i class='icon ion-calendar'></i> {{activeLeague}} S{{activeSeason}}E{{activeEvent}}">
  <ion-content class="has-header bgPoker">

    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
      <ion-slide>
          <div class="list card">

        <div class="item item-avatar">
          <img src="images/icon-96-xhdpi.png">
          <h1> Tournoi : <strong>{{activeEvent}}</strong></h1>
          <p>Ligue : <strong>{{activeLeague}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;Saison : <strong>{{activeSeason}}</strong></p>
        </div>

          <ion-list >
          <ion-item >
             Date : {{event.date}}  {{event.time}}
          </ion-item>
          <ion-item class="item item-icon-left item-button-right">
              <i class="icon ion-ios7-help"></i> S'inscrire
              <button class="button" ng-class="{'button-balanced' : player.eventInfo.register ==='ok','button-assertive' : player.eventInfo.register ==='nok' , 'button-energized' : player.eventInfo.register === undefined}"  ng-click="showRegister()">
                  <i class="icon" ng-class="{'ion-ios7-checkmark-outline' : player.eventInfo.register ==='ok','ion-ios7-close-outline' : player.eventInfo.register ==='nok' , 'ion-ios7-help-empty' : player.eventInfo.register === undefined}" ></i>
              </button>
          </ion-item>
           <ion-item class="item item-icon-left item-icon-right" ng-click='slideTo(1)'>
          <i class="icon ion-person-stalker"></i>
             <span class="badge badge-calm"  style="margin-right:20px;">0</span>
             <i class="icon ion-chevron-right"></i> Liste des joueurs
          </ion-item>
          <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
             <i class="icon ion-location"></i> Lieu du tournoi
              <span class="item-note" >{{event.location}}</span>
             <i class="icon ion-chevron-right"></i> 
          </ion-item>
          </ion-list >
          
        </div>
        <div class="list card">
          <ion-list >
            <ion-item >
               Vainqueur : {{event.winner}}
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" href="#/app/working">
            <i class="icon ion-podium"></i>
               <span class="badge badge-balanced"  style="margin-right:20px;">0</span>
               <i class="icon ion-chevron-right"></i> Classement
            </ion-item>
            <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
               <i class="icon ion-chatbubbles"></i>
                      <span class="badge badge-balanced"  style="margin-right:20px;">0</span> Commentaires
               <i class="icon ion-chevron-right"></i> 
            </ion-item>
            <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
                       <span class="badge badge-balanced"  style="margin-right:20px;">0</span>
               <i class="icon ion-images"></i> Photos
               <i class="icon ion-chevron-right"></i> 
            </ion-item>
          </ion-list >
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

      </ion-slide>
      <ion-slide>
        <div class="list card">
          <div class="item item-divider">
    Présents
  </div>
          <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="(key,player) in eventPlayers" href="#/app/players/{{activeLeague}}" class="item item-icon-left item-icon-right">
              <ion-delete-button class="ion-minus-circled" ng-click="removePlayer(key)">
              </ion-delete-button>
              <i class="icon ion-ios7-person"></i>
              {{player.pseudo}}
              <i class="icon ion-chevron-right"></i>
            </ion-item>
          </ion-list>
           <div class="item item-divider">
    Absents
  </div>
          <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="(key,player) in absentPlayers" href="#/app/players/{{activeLeague}}" class="item item-icon-left item-icon-right">
              <ion-delete-button class="ion-minus-circled" ng-click="removePlayer(key)">
              </ion-delete-button>
              <i class="icon ion-ios7-close-outline"></i>
              {{player.pseudo}}
              <i class="icon ion-chevron-right"></i>
            </ion-item>
          </ion-list>
                    <div class="item item-divider">
    Sans réponse
  </div>
          <ion-list show-delete="data.showDelete">
            <ion-item ng-repeat="(key,player) in missingPlayers" href="#/app/players/{{activeLeague}}" class="item item-icon-left item-icon-right">
              <ion-delete-button class="ion-minus-circled" ng-click="removePlayer(key)">
              </ion-delete-button>
              <i class="icon ion-ios7-help-outline"></i>
              {{player.pseudo}}
              <i class="icon ion-chevron-right"></i>
            </ion-item>
          </ion-list>
        </div>


      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer"> 
    <button class="button button-positive" go-click="/app/eventLive/{{activeLeague}}/{{activeSeason}}/{{activeEvent}}"><i class="icon ion-play"></i> Commencer le tournoi</button>
    <div class="title"></div>
    <button class="button pull-right" go-click="/app/eventEdit/{{activeLeague}}/{{activeSeason}}/{{activeEvent}}"><i class="icon ion-ios7-people"></i> Modifier</button>
  </div>
</ion-view>
