<ion-view title="Accueil myPokerleague">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bgPoker">

  <div class="item item-avatar item-icon-right" ng-click="#/app/eventNew">
    <img src="images/event_icon.png">
    <h2> Prochaine date &nbsp;&nbsp;&nbsp;&nbsp;<strong> 04/09/2014 </strong></h2>
    <p>MSOP <strong>S{{activeSeason}}E01</strong></p>
    <i class="icon ion-chevron-right"></i> 
  </div>
</div>


    <div class="list card">

  <div class="item item-avatar">
    <img src="images/ionic.png">
    <h2> Mise en production de l'app</h2>
    <p>11/07/2014</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>
<br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
  </ion-content>
</ion-view>
