<ion-view title="Ligue {{activeLeague}}">
  <ion-content class="has-header bgPoker">
    <div class="list card">

  <div class="item item-avatar">
    <img src="images/icon-96-xhdpi.png">
    <h2> <strong>{{activeLeague}}</strong></h2>
    <p>Joueurs : <strong>{{activeSeason}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;Tournois : <strong>{{activeSeason}}</strong></p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

    <ion-list >
            <ion-item class="item item-icon-left item-icon-right" href="#/app/working">
      <i class="icon ion-ios7-settings-strong"></i>
       <i class="icon ion-chevron-right"></i> Configuration
    </ion-item>
        <ion-item class="item item-icon-left item-icon-right" href="#/app/players/{{activeLeague}}">
      <i class="icon ion-person-stalker"></i>
       <span class="badge badge-calm"  style="margin-right:20px;">{{playersNb}}</span>
       <i class="icon ion-chevron-right"></i> Listes des joueurs
    </ion-item>
    </ion-list>
    </div>
     
    <div class="list card">
        <ion-list >
    <ion-item class="item item-icon-left item-icon-right" href="#/app/events/{{activeLeague}}/{{activeSeason}}">
      <i class="icon ion-ios7-albums"></i>
       <span class="badge badge-calm"  style="margin-right:20px;">{{activeSeason}}</span>
       <i class="icon ion-chevron-right"></i> Saison en cours
    </ion-item>
    <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
       <i class="icon ion-ios7-albums-outline"></i> Autres saisons
        <span class="item-note" >{{event.location}}</span>
       <i class="icon ion-chevron-right"></i> 
    </ion-item>
        </ion-list>
    </div>
     
    <div class="list card">
            <ion-list >
    <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
       <i class="icon ion-trophy"></i> Hall of Fame
        <span class="item-note" >{{event.location}}</span>
       <i class="icon ion-chevron-right"></i> 
    </ion-item>
    <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
       <i class="icon ion-chatbubbles"></i>
              <span class="badge badge-balanced"  style="margin-right:20px;">0</span> Commentaires
       <i class="icon ion-chevron-right"></i> 
    </ion-item>
        <ion-item class="item item-icon-left  item-icon-right" href="#/app/working">
               <span class="badge badge-balanced"  style="margin-right:20px;">0</span>
       <i class="icon ion-images"></i> Photos
       <i class="icon ion-chevron-right"></i> 
    </ion-item>
    </ion-list >


</div>
<br/>
  </ion-content>
</ion-view>
