<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">
  Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/profil" >
          <i class="icon ion-locked"></i> Mon compte
        </ion-item>   
        <ion-item nav-clear menu-close>
          
        </ion-item>  
        <ion-item nav-clear menu-close href="#/app/home">
          <i class="icon  ion-home"></i> Accueil
        </ion-item>   
        <ion-item nav-clear menu-close href="#/app/leagues">
          <i class="icon ion-person-stalker"></i> Ligues
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tools">
          <i class="icon ion-wand"></i> Outils
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about">
          <i class="icon ion-information-circled"></i> A propos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
