<ion-view title="Calendrier">
    <ion-content class="has-header bgPoker">
        <div class="list card ">
            <div class="item item-avatar">
                <img src="images/ionic.png">
                <h2>Planification Tournoi</h2>
                <p>Saison {{calendar.season}}</p>
            </div>

            <label class="item item-input">
                <span class="input-label">N° tournoi</span>
                <input type="tel" class="pokerInput">
            </label>
            <label class="item item-input">
                <span class="input-label">Nom tournoi</span>
                <input type="text" class="pokerInput">
            </label>
            <label class="item item-input">            
                <span class="input-label">Date</span>
                <input type="text" class="pokerInput">
            </label>
            <label class="item item-input"> 
                <span class="input-label">Heure</span>
                <input type="text" class="pokerInput">
            </label>
            <label class="item item-input">
                <span class="input-label">Lieu</span>
                <input type="text" class="pokerInput">
            </label>
        </div>
        <div class="list card ">
            <div class="item item-avatar">
                <img src="images/ionic.png">
                <h2>Planification Tournoi</h2>
                <p>Saison {{calendar.season}}</p>
            </div>
            <ion-item class="listPoker" href="#/app/newcalendar">
                <i class="icon ion-android-checkmark"></i> Sauvegarder
            </ion-item><br/>
            <label class="item item-input">
                <span class="input-label">N° tournoi</span>
                <input type="tel" class="pokerInput">
            </label>
            <label class="item item-input">
                <span class="input-label">Nom tournoi</span>
                <input type="text" class="pokerInput">
            </label>
            <label class="item item-input">
                <div pickadate ng-model="date"></div>
            </label>
            <label class="item item-input">
                <span class="input-label">Lieu</span>
                <input type="text" class="pokerInput">
            </label>
        </div>
    </ion-content><div class="bar bar-footer">
  <button class="button button-clear">Annuler</button>
  <div class="title"></div>
  <button class="button button-positive pull-right"><i class="icon ion-android-checkmark"></i> Sauvegarder</button>
</div>
</ion-view>
