<ion-view title="Créer un compte">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header bgPoker">
        <div class="list card">
            <div class="auth-forms">
                <form ng-submit="register()">
                    <div class="item item-avatar">
                        <img src="images/ionic.png">
                        <h2>Créer un nouveau compte</h2>
                        <p>Saison {{season}}</p>
                    </div>
                    <p ng-show="error" class="text-danger">{{ error }}</p>
                    <label class="item item-input">
                        <span class="input-label">eMail</span>
                        <input type="email" ng-model="user.email" class="pokerInput">
                    </label> 
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="user.password"  class="pokerInput">
                    </label> 
                    <label class="item item-input">
                        <input type="submit" value="Créer" class="btn btn-primary" style="height:50px;background-color:#2F97FF;text-align:right;font-weight:bold"/>
                    </label> 
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>