<ion-view title="Still working">
  <ion-content class="has-header bgPoker-orange">
    <div class="list card" style="text-align:center">

        <h3> ! </h3>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              Nous travaillons dur pour vous faire cette application
            </p>
            <p>
              et pourtant il en reste encore... :)
            </p>
</div>
<br/>
  </ion-content>
</ion-view>
